#board {
	background-color: #efefef;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: auto;
	grid-gap: 10px;
	margin: 1rem;
	width: 320px;
}

#controls {
	box-sizing: border-box;
	margin: 1rem;
}

#message {
	box-sizing: border-box;
	margin: 1rem;
}

.card {
	background-color: #ff9999;
	display: grid;
	font-size: 42pt;
	justify-content: center;
	align-content: center;
	height: 100px;
	width: 100px;
}

.is-shown {
	background-color: orange;
}

.is-matched {
	background-color: purple;
	color: white;
}
